@font-face {
    font-family: Gotham Pro;
    src: url("../public/static/Fonts/gothampro-webfont.woff");
    src: url("../public/static/Fonts/gothampro-webfont.woff2");
    src: url("../public/static/Fonts/gothampro.ttf");
}
@font-face {
    font-family: Stolzl;
    src: url("../public/static/Fonts/stolzl_light-webfont.woff");
    src: url("../public/static/Fonts/stolzl_light-webfont.woff2");
    src: url("../public/static/Fonts/stolzl_light.otf");
}

body{
    max-width: 100%;
    box-sizing: border-box;
    padding: 35px 259px;
    background-color:  #210E09;
}