.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.navbar {
    display: flex;
    gap: 30px;
    font-family: Stolzl;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}
.navbar > a{
    text-decoration: none;
    color: #FFFFFF;
}
.navbar > a:hover{
    color:#D5621D;
}
.headerBtn{
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #210E09;
    padding: 15px 30px;
    border: 2px solid #D5621D;
    border-radius: 5px;
    cursor: pointer;
}
.burger, .active {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: 2px solid #D5621D;
    border-radius: 5px;
}
.line1, .line2, .line3 {
    width: 100%;
    height: 2px;
    background-color: #D5621D;
    transition: all .3s ease-in-out;

}
.line1 {
    margin-top: 4px;
}
.line2, .line3 {
    margin-top: 8px;
}
.active .line2{
    scale: 0;
}
.active .line1 {
    transform: translateY(10px) rotate(-45deg);
}
.active .line3 {
    transform: translateY(-10px) rotate(45deg);
}

.sideMenu {
    z-index: 10;
    padding: 30px 0;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    position: absolute;
    top: 100px;
    left: 0;
    font-family: Stolzl;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    transition: all .3s ease-in-out;

}
.sideMenu > a{
    text-decoration: none;
    color: #FFFFFF;
}
.sideMenuHidden {
    transform: translateY(-500px);
    transition: all .3s ease-in-out;
}
.sideMenuHidden > a {
    display: none;
}


@media (max-width: 1400px) {
    .navbar {
        font-size: 10px;
        gap: 20px;
    }
}
@media (max-width: 1120px) {
    .headerBtn {
        font-size: 10px;
        padding: 10px 25px;
    }
}
@media (max-width: 1050px) {
    .navbar, .headerBtn{
        display: none;
    }
    .burger, .active {
        display: block;
    }
}