.section {
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
    justify-content: center;
}
.img {
    width: 45vw;
    height: 28.7vw;
}
.rightContainer {
    width: 22.55vw;
}
.buttonSection > button {
    margin: 0;
    padding: 12px 2.63vw 7px 2.63vw;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: .76vw;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;


}
.buttonSection > button:last-child {
    padding-left: 4.1vw;
    padding-right: 4.1vw;
} 
.active {
    background: rgba(213, 98, 29, 0.1);
}
.notActive {
    background: rgba(213, 98, 29, 0.05);
}
.imgContainer {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    padding: 2.1vw 2vw ;
    background: #d5631d19;
 
    border-radius: 0px 0px 5px 5px;
}
@media (max-width: 980px) {
    .buttonSection > button{
        padding: 12px 2.3vw 7px 2.3vw;
    }

}
@media (max-width: 535px) {
    .buttonSection > button:last-child {
        padding-left: 3vw;
        padding-right: 3vw;
    }

}


