.mainContainer {
    display: flex;
    gap: 25px;
    max-width: 486px;
    margin-bottom: 57px;
}
.image {
    max-width: 110px;
    height: 110px;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titleText {
    margin: 0;
    padding: 0; 
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.titlePrice {
    margin: 0;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 7px 17px 3px 17px;
    border: 2px solid #D5621D;
    border-radius: 5px;
}
.weight {
    margin: 5.5px 0 10px 0;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #D5621D;
}
.description {
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}
@media(max-width: 750px) {
    .titleText {
        font-size: 12px;
    }
    .description {
        font-size: 8px;
    }
}
@media(max-width: 670px) {
    .titlePrice, .weight, .titleText {
        font-size: 10px;
    }
}
@media(max-width: 600px) {
    .image {
        max-width: 60px;
        height: 60px;
    }
}

@media(max-width: 500px) {
    .titlePrice, .weight, .titleText {
        font-size: 8px;
    }
    .description {
        font-size: 6px;
    }
    .titlePrice {
        padding: 5px 15px 1px 15px;
    }
    .mainContainer {
        gap: 10px;
    }
}
